@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2ebe3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfume-container {
  background-color: #fff;
  max-width: 700px;
  width: 90%;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
  overflow: hidden;
}
.perfume-image {
  background-image: url(./images/image-product-desktop.jpg);
  background-position: center;
  background-size: cover;
}
.perfume-content {
  display: grid;
  place-content: center;
  padding: 0 18px;
}
.perfume-content h4 {
  color: #7d7d7d;
  font-size: 15px;
  letter-spacing: 7px;
}
.perfume-content h2 {
  font-size: 32px;
  line-height: 1;
  margin-top: 24px;
  font-family: "Young Serif", serif;
}
.perfume-content P {
  font-size: 17px;
  margin: 26px 0 20px;
  color: #7d7d7d;
}
.perfume-price {
  margin: 20px 0 45px;
}
.perfume-price {
  display: flex;
  align-items: center;
  gap: 30px;
}
.perfume-price .price-1 {
  font-size: 36px;
  font-weight: bold;
  color: #3c8067;
  font-family: "Young Serif", serif;
}
.perfume-price .price-2 {
  text-decoration: line-through;
  font-size: 17px;
}
.perfume-content button {
  padding: 16px;
  border-radius: 12px;
  border: none;
  background: #3c8067;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
.perfume-content button:hover {
  background-color: #214538;
}

@media screen and (max-width: 768px) {
  .perfume-image {
    background-image: url(./images/image-product-mobile.jpg);
    background-size: cover;
    min-height: 300px;
  }
  .perfume-container {
    grid-template-columns: 1fr;
    max-width: 400px;
    min-height: 570px;
    border-radius: 20px;
  }
  .perfume-content {
    padding: 20px;
  }
}
